body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #6c7279;
  -webkit-font-smoothing: antialiased;
  background-color: #20242a;
}

body.lock {
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1 {
  color: #505e75;
  font-size: 1.4rem;
}

/* Container
======================*/
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

/* Modal Wallet Connect
======================*/
#wrapper-modal {
  width: 100%;
  height: 100%;
  display: none;
}
#wrapper-modal.active {
  display: block;
}
#overlay {
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 41;
  background: rgba(40, 46, 58, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 320px;
  z-index: 42;
  border-radius: 20px;
  background-color: #20242a;
  display: flex;
  flex-direction: column;
}
#btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffad17;
  border-radius: 50px;
  border: none;
  height: 24px;
  width: 24px;
  cursor: pointer;
  margin-right: 15px;
}
#btn-close span {
  font-size: 1.5rem;
  color: #353b46;
}
.btn-close-icon {
}
.modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #353a46;
}
.modal-title__inner {
  padding: 5px;
  margin: 10px;
  color: #505e75;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
}
.modal-content {
  padding: 10px;
  margin: 15px 0;
}
.wallet-connect-btn {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
  background-color: #262a32;
  color: #bac2cf;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  opacity: 1;
  outline: 0;
  height: 48px;
  padding: 0 24px;
  box-shadow: none;
}
.wallet-connect-btn:hover {
  opacity: 0.7;
}
.modal-footer {
  margin-top: auto;
  margin-bottom: 20px;
}
.modal-footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #505e75;
}
.modal-footer__icon {
  display: inline-block;
  padding-right: 5px;
}

/* Header
======================*/
.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 40;
}
.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #20242a;
  z-index: 2;
}
.header__inner {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  height: 70px;
}
#btn-connect {
  position: relative;
  z-index: 2;
  background-color: #ffad17;
  border-radius: 40px;
  border: none;
  height: 34px;
  width: 100px;
  color: #353b46;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}
#btn-connect:hover {
  background-color: #c78814;
  color: #000000;
}
.header__burger {
  display: block;
  position: relative;
  z-index: 5;
}
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.hamRotate {
}
.ham4 {
}
.ham4 .top {
  stroke-dasharray: 40 121;
}
.ham4 .bottom {
  stroke-dasharray: 40 121;
}
.ham4.active .top {
  stroke-dashoffset: -68px;
}
.ham4.active .bottom {
  stroke-dashoffset: -68px;
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #505e75;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.header__burger-menu {
  position: fixed;
  top: 0;
  left: -100%;
  /* width: calc(30%); */
  /* min-width: 250px; */
  width: 240px;
  height: 100%;
  overflow: auto;
  background-color: #262a31;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 70px 10px 20px 10px;
  transition: all 0.3s ease 0s;
}
.burger-overlay {
  display: none;
  z-index: 3;
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.burger-overlay.active {
  display: block;
}
.header__burger-menu.active {
  left: 0;
  z-index: 4;
}
.header__logo {
  text-align: center;
  margin: 20px 0;
}
.header__logo img {
  width: 60%;
  text-align: center;
}
.header__list {
  display: block;
  position: fixed;
  top: 30%;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}
.header__list li {
  margin-bottom: 20px;
}
.header__list img {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}
.header__link {
  display: flex;
  align-items: center;
  color: #d8d8d8;
  text-decoration: none;
  font-size: 1.1rem;
  fill: #505e75;
}
.header__link svg {
  margin-right: 15px;
}
.header__link:hover {
  fill: #ffad17;
}
.header__link.active {
  fill: #ffad17;
}
.header__link:hover span {
  color: #ffad17;
}
.header__link.active span {
  color: #ffad17;
}
.header__link-icon {
  padding-right: 10px;
  font-size: 1.6rem;
}
.acor-body-icon {
  padding-right: 10px;
  font-size: 1.4rem;
}
.acor-body-inner:hover {
  color: #ffad17;
}
.acor-body-inner {
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  color: #505e75;
}
.acor-container {
  margin: 20px 0;
}
.acor-container .acor-body {
  height: 0;
  padding: 0 20px;
  color: #505e75;
  transition: color 0.5s, padding 0.35s;
  overflow: hidden;
}
.acor-container label {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #505e75;
  font-weight: 400;
  transition: color 0.35s;
}
.acor-container label:hover {
  color: #ffad17;
}
.acor-container input {
  display: none;
}
.acor-container label:after {
  content: '\276F';
}
.acor-container input:checked + label {
  color: #ffad17;
}
.acor-container input:checked + label:after {
  transition: transform 0.4s;
  transform: rotate(90deg);
}
.acor-container input:checked + label + .acor-body {
  height: auto;
  margin-top: -5px;
  color: #505e75;
  padding: 10px 20px;
}
.acor-darktheme {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}
.acor-lighttheme {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.acor-darktheme:hover,
.acor-lighttheme:hover {
  color: #ffad17;
}
.copyright__text {
  margin: 10px;
  text-align: center;
  font-size: 0.8rem;
  color: #b2b3b4;
}
.wallet-input {
  padding: 3px 30px;
  margin: 0 10px;
  font-size: 1rem;
  line-height: 1.8;
  color: #505e75;
  width: auto;
  min-width: 400px;
  text-overflow: ellipsis;
  background: #2b2f38;
  border: 1px solid #2d3136;
  border-radius: 40px;
  background: url(../img/nav/search-icon.svg);
  background-repeat: no-repeat;
  background-position: right 12px center;
  position: relative;
  z-index: 2;
}
.wallet-input::placeholder {
  color: #505e75;
}
.wallet-input:focus {
  border-color: #ffad17;
  outline: 0;
  caret-color: #ffad17;
}
.tab-content__item {
  display: none;
}
.tab-content__item.active {
  display: block;
}

/* Dashboard - Deposit
======================*/
.dep {
  display: flex;
  justify-content: space-around;
  margin: 90px 10px 10px 10px;
  background-color: #20242a;
  border-radius: 10px;
}
.dep__inner {
  padding: 15px 0;
  text-align: center;
}
.dep__inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.1rem;
}
.dep__value {
  display: block;
  margin-top: 5px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
}
/* Dashboard - Vaults
======================*/
.finance {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.finance__title {
  display: flex;
  align-items: center;
  margin: 30px 10px 5px 10px;
  border-bottom: 1px solid #252a31;
}
.finance__title img {
  height: 70px;
  border-radius: 50%;
  margin: 15px 15px 15px 0;
}
.platform {
  display: flex;
  flex-direction: column;
}
.platform__title {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 700;
  padding-bottom: 5px;
}
.platform__chain {
  font-size: 1.1rem;
  font-weight: 600;
  color: #505e75;
}
.finance__vaults {
  display: flex;
  flex-wrap: wrap;
  margin: 0 5px;
}
.vaults__wrapper {
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width: 33.3333%;
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}
.vault {
  background-color: #262a32;
  border-radius: 10px;
}
.vault__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 5px 15px;
}
.vault__title img {
  height: 50px;
  border-radius: 50%;
}
.vault__title-left {
  display: flex;
  align-items: center;
}
.vault__amount {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.vault__amount__title {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 700;
}
.vault__title-apy {
  color: #ffad17;
  font-weight: 700;
  font-size: 1rem;
  padding-left: 10px;
  text-align: right;
  min-width: 70px;
}
.vault__value {
  font-size: 1rem;
  color: #fff;
  padding: 10px 20px 10px 15px;
}
.vault__value td {
  padding: 10px 5px 10px 0;
  line-height: 1.4;
}
.vault__stat {
  width: 100%;
  border-collapse: collapse;
  line-height: 1.3;
  text-align: right;
}
.vault__stat th {
  font-weight: 700;
  color: #505e75;
  font-size: 0.9rem;
  line-height: 1.4;
}
.vault__stat-deposit {
}
.vault__stat-yield {
}
.vault__stat-total {
  border-top: 1px solid #343a44;
  font-weight: 700;
  font-size: 1rem;
}

/* Wallet
======================*/
.wallet {
  margin: 120px 20px 0 20px;
}
.wallet__table {
  width: 100%;
  background-color: #262a31;
  border-radius: 10px;
  border-collapse: collapse;
  font-size: 1rem;
  color: #fff;
}
.thead-cell {
  border-bottom: 1px solid #2c3441;
  padding: 15px;
  width: 33.3333%;
}
.thead-cell__item {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.thead-cell__img {
  margin-right: 10px;
}
.thead-cell__item-right {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  justify-content: flex-end;
}
.tbody-cell {
  padding: 10px 15px;
  width: 33.3333%;
}
.tbody-cell__token {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tbody-cell__token img {
  height: 40px;
  margin: 10px 10px 10px 0;
  border-radius: 50%;
}
.tbody-cell__item {
  display: flex;
  flex-direction: column;
}
.tbody-cell__token-ticker {
  font-weight: 700;
  font-size: 1.1rem;
  padding-bottom: 5px;
}
.tbody-cell__token-name {
  font-weight: 400;
  font-size: 0.9rem;
  color: #505e75;
}
.tbody-cell__token-prise {
  font-weight: 700;
  font-size: 1.1rem;
  padding-bottom: 5px;
  text-align: right;
}
.tbody-cell__prise-change {
  font-weight: 400;
  font-size: 1rem;
  text-align: right;
}
.tbody-cell__prise-change.up {
  color: #52c22f;
}
.tbody-cell__prise-change.down {
  color: #ff6e6e;
}
.tbody-cell__hold-dollar {
  font-weight: 700;
  font-size: 1.1rem;
  padding-bottom: 5px;
  text-align: right;
}
.tbody-cell__hold-token {
  font-weight: 700;
  font-size: 1rem;
  color: #505e75;
  text-align: right;
}

/* Exchange Rates
======================*/
.exchange-rates {
  margin: 120px 10px 10px 10px;
  height: 80vh;
}

/* Footer
======================*/
.footer {
  margin-top: 30px;
  border-top: 1px solid #252a31;
}
.footer__inner {
}
.footer__block {
  margin: 10px;
}
.footer__social {
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
}
.footer__social-link {
  text-decoration: none;
  color: #505e75;
  font-weight: 700;
  font-size: 0.8rem;
}
.footer__social-link:hover {
  color: #ffad17;
}

/* Полоса прокрутки
======================*/
::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  width: 6px;
  height: 0;
}
::-webkit-scrollbar-track {
  background-color: #32312e;
  box-shadow: 0 0 3px #000 inset;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #ffad17;
  box-shadow: 0 1px 1px #ffad17 inset;
  background-image: url('https://yield.galyshev.pro/img/scrollbar.png');
  background-position: center;
  background-repeat: no-repeat;
}
::-webkit-resizer {
  background-repeat: no-repeat;
  width: 7px;
  height: 0;
}
::-webkit-scrollbar {
  width: 7px;
}

/* Light Theme
======================*/
.light {
  background-color: #eeeeee;
}
.light h1 {
  color: #808080;
}
.light .header:before {
  background-color: #eeeeee;
}
.light .header__tabs-item a {
  color: #808080;
}
.light .header__tabs-item.active a {
  color: #ffad17;
}
.light .header__burger-menu {
  background-color: #ffffff;
}
.light .header__link {
  color: #292929;
}
.light .header__list a:hover {
  color: #ffad17;
}
.light .acor-body-inner {
  color: #5c5c5c;
}
.light .wallet-input {
  background-color: #dadada;
  border: 1px solid #dadada;
}
.light .wallet-input::placeholder {
  color: #808080;
}
.light .dep {
  background-color: #eeeeee;
}
.light .dep__value {
  color: #292929;
}
.light .finance__title {
  border-bottom: 1px solid #dadada;
}
.light .platform__title {
  color: #292929;
}
.light .platform__chain {
  color: #808080;
}
.light .vault {
  background-color: #ffffff;
}
.light .vault__amount__title {
  color: #292929;
}
.light .vault__stat th {
  color: #808080;
}
.light .vault__value {
  color: #292929;
}
.light .wallet__table {
  background-color: #ffffff;
  color: #292929;
}
.light .footer {
  border-top: 1px solid #dadada;
}
.light #modal {
  background-color: #dadada;
}
.light #btn-close {
  background-color: #ffad17;
}
.light #btn-close span {
  color: #808080;
}
.light .modal-title {
  border-bottom: 1px solid #808080;
}
.light .modal-title__inner {
  color: #292929;
}
.light .wallet-connect-btn {
  background-color: #ececec;
  color: #292929;
}
.light .modal-footer__link {
  color: #808080;
}

/* Adaptive
======================*/
@media screen and (max-width: 992px) {
  .header__tabs-item {
    min-width: 100px;
  }
  .vaults__wrapper {
    width: 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .header__inner {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .header__logo {
    margin-top: 10px;
  }
  .vaults__wrapper {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .wallet {
    margin: 90px 10px 0 10px;
  }
  .wallet-input {
    margin: 10px;
    min-width: 100px;
  }
  .dep {
    margin: 90px 10px 10px 10px;
  }
  .header__burger-menu {
    width: 240px;
  }
  .dep__inner h1 {
    font-size: 0.8rem;
  }
  .dep__value {
    font-size: 1.2rem;
  }
  .finance__title {
    margin-top: 10px;
  }
  .platform__title {
    font-size: 1.2rem;
  }
  .platform__chain {
    font-size: 0.9rem;
  }
  .vault__amount__title {
    font-size: 1rem;
  }
}

@media screen and (max-width: 460px) {
  .dep {
    margin: 80px 5px 10px 5px;
  }
  .header__inner {
    align-items: center;
    height: 60px;
  }
  .wallet-input {
    margin: 0 10px;
    height: 30px;
    width: auto;
    padding-left: 15px;
  }
  #btn-connect {
    height: 28px;
    min-width: 80px;
    font-size: 0.9rem;
    margin-left: 10px;
  }
  .tbody-cell__token img {
    height: 35px;
  }
  .tbody-cell__token-ticker {
    font-size: 0.9rem;
  }
  .tbody-cell__token-name {
    font-size: 0.8rem;
  }
  .tbody-cell__token-prise {
    font-size: 0.9rem;
  }
  .tbody-cell__prise-change {
    font-size: 0.8rem;
  }
  .tbody-cell__hold-dollar {
    font-size: 0.9rem;
  }
  .tbody-cell__hold-token {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 410px) {
  .wallet-input {
    width: auto;
    text-overflow: ellipsis;
  }
  .header__inner {
  }
  #btn-connect {
  }
  .header__tabs-item a {
    font-size: 0.8rem;
  }
  .dep__inner h1 {
    font-size: 0.7rem;
  }
  .dep__value {
    font-size: 1rem;
  }
  .platform__title {
    font-size: 1.2rem;
  }
  .platform__chain {
    font-size: 0.9rem;
  }
  .vault__amount__title {
    font-size: 1rem;
  }
  .vault__value {
    font-size: 0.8rem;
  }
  .vault__value th {
    font-size: 0.8rem;
  }
  .vault__stat-total {
    font-size: 0.9rem;
  }
  .wallet__table {
    font-size: 0.8rem;
  }
  .tbody-cell {
    padding: 10px 10px;
  }
  .tbody-cell__token img {
    height: 30px;
    margin: 5px 5px 5px 0;
  }
  .tbody-cell__token-ticker {
    font-size: 0.8rem;
  }
  .tbody-cell__token-name {
    font-size: 0.7rem;
  }
  .tbody-cell__token-prise {
    font-size: 0.8rem;
    font-weight: 400;
  }
  .tbody-cell__prise-change {
    font-size: 0.7rem;
  }
  .tbody-cell__hold-dollar {
    font-size: 0.8rem;
    font-weight: 400;
  }
  .tbody-cell__hold-token {
    font-size: 0.7rem;
  }
}
