  body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #6c7279;
  -webkit-font-smoothing: antialiased;
  background-color: #20242A;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, ol, li {
  padding: 0;
  margin: 0;
  list-style: none;
}


h1 {
  color: #404b5e;
  font-size: 1.2rem;
}

/* Container
======================*/

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;

}
/* Header
======================*/

.header {
  width: 100%;
  background-color: #262A32;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px 10px 30px;

}

.header__inner img {
  height: 40px;
}

.header__logo {
  margin-left: 15px;
}

.wallet-input {
  padding: 5px 30px 5px 12px;
  margin: 0 10px;
  font-size: 14px;
  line-height: 1.5;
  width: 370px;
  background: #fff;
  border: 1px solid #b9b9b9;
  border-radius: 4px;

  background-image: url(../img/nav/search-icon.svg);
  background-repeat: no-repeat;
  background-position: right 12px center;
}

/* Header
======================*/

.header__tabs {
  display: flex;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.header__tabs-item {
  margin: 0;
  padding: 8px;
  min-width: 150px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  color: #fff;
}

.header__tabs-item a {
  text-decoration: none;
  color: #404b5e;
}

.header__tabs-item.active a {
  color: #687997;
}

.header__tabs-item.active {
  background-color: #20242A;
  border: 1px solid #202329;
  position: relative;
}

.tab-content__item {
  display: none;
}

.tab-content__item.active {
  display: block;
}

/* Burger
======================*/

.burger {
  margin: 0 10px;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 9px 2px;
}

.burger__item {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #404b5e;
  font-size: 0;
  color: transparent;
  position: relative;
}

.burger__item:before,
.burger__item:after {
  content: "";
  height: 100%;
  background-color: #404b5e;
  position: absolute;
  right: 0;
  z-index: 1;
}

.burger__item:before {
  width: 30px;
  top: -8px;
}

.burger__item:after {
  width: 30px;
  bottom: -8px;
}

/* Deposit
======================*/

.dep {
  display: flex;
  justify-content: space-around;
  margin: 100px 10px 30px 10px;
  background-color: #262A32;
  border-radius: 10px;
}

.dep__inner {
  padding: 15px 0;
  text-align: center;
}

.dep__value {
  display: block;
  margin-top: 10px;
  color: #fff;
  font-size: 2rem;
}

/* Vaults
======================*/

.finance {
  max-width: 99%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.finance__title {
  display: flex;
  align-items: center;
  margin: 30px 10px 10px 10px;
  border-bottom: 1px solid #777d86;
}

.finance__title img {
  height: 70px;
  border-radius: 50%;
  margin: 15px 15px 15px 0;
}

.platform {
  display: flex;
  flex-direction: column;
}

.platform__title {
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
  padding-bottom: 5px;
}
.platform__chain {
  font-size: 1rem;
  font-weight: 600;
  color: #404b5e;
}

.finance__vaults {
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.vault {
  display: flex;
  flex-direction: column;
  width: 32.5%;
  min-height: 160px;
  margin: 10px 4px 5px 4px;
  background-color: #262A32;
  border-radius: 10px;
}

.vault__title {
  display: flex;
  align-items: center;
  padding: 15px;
}

.vault__title img {
  height: 50px;
  border-radius: 50%;
}

.vault__amount {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.vault__amount__title {
  font-size: 1rem;
  color: #fff;
  font-weight: bold;

}
.vault__amount__dollars {
  font-size: 1rem;
  color: #fff;
  font-weight: bold;

}
.vault__amount__coins {
  font-size: .9rem;
  font-weight: 600;
  color: #404b5e;
}
.vault__value {
  font-size: .9rem;
  color: #fff;
  padding: 10px 5px 10px 2px;
}

.vault__value td {
  padding: 5px 5px 5px 0;
}

.vault__stat {
  width: 100%;
  border-collapse: collapse;
  line-height: 1.3;
  text-align: right;
}

/* Wallet
======================*/
.wallet {
  margin: 100px 20px 0 20px;
}

.wallet__balance {
  background-color: #262A32;
  border-radius: 10px;
  width: 100%;
  border-collapse: collapse;
  line-height: 1.3;
  font-size: 1rem;
  color: #fff;
}

.wallet__balance th {
  border-bottom: 1px solid #777d86;
  padding: 15px;
}

.wallet__balance td {
  padding: 15px;
}

.wallet__balance td img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.token {
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.token__logo {
  width: 26px;
  height: 26px;
}
.token__name {
  margin-left: 10px;
  font-weight: bold;
}
.token-price {
  text-align: center;
}
.token-amount {
  text-align: center;
}

/* Footer
======================*/
.footer {
  margin-top: 30px;
  border-top: 1px solid gray;
}
.footer__block {
  margin: 10px;
}
.copyright {
  margin: 10px;
}

/* Adaptive
======================*/
@media screen and (max-width:992px) {
  .header__inner {
    padding: 10px;
  }
  .header__logo {
    margin: 0 10px;
  }
  .header__logo img {
    height: 30px;
  }
  .header__tabs-item {
    min-width: 130px;
  }
  .dep {
    margin: 80px 10px 10px 10px;
  }
  .finance__title {
    margin: 10px;
  }
  .vault {
    width: 48.5%;
  }
  .vault__value {
    padding: 10px;
  }
}

@media screen and (max-width:768px) {
  .header__inner {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .header__logo {
    margin: 10px;
  }
  .wallet-input {
    margin: 10px;
  }
  .dep {
    margin: 140px 10px 10px 10px;
  }
  .wallet {
    margin: 140px 10px 0 10px;
  }
  .vault {
    width: 98%;
  }
  .platform__title {
    font-size: 1.3rem;
  }
  .platform__chain {
    font-size: 0.8rem;
  }
}

@media screen and (max-width:520px) {
  .wallet-input {
    width: 270px;
  }
  .dep__inner h1 {
    font-size: 0.9rem;
  }
  .dep__value {
    font-size: 1.1rem;
  }
}

@media screen and (max-width:389px) {
  .header__tabs-item {
    min-width: 115px;
  }
  .dep__inner h1 {
    font-size: 0.8rem;
  }
  .dep__value {
    font-size: 1.2rem;
  }
  .wallet-input {
    width: 200px;
  }
  .dep {
    margin: 140px 10px 10px 10px;
  }
  .wallet {
    margin: 140px 10px 0 10px;
  }
  .header__tabs {
    margin-bottom: 10px;
  }
  .vault__amount__title {
    font-size: 0.8rem;
  }
  .vault__amount__dollars {
    font-size: 0.8rem;
  }
  .vault__amount__coins {
    font-size: .7rem;
  }
  .vault__value {
    font-size: .7rem;
  }
}

@media screen and (max-width:359px) {
  .dep {
    margin: 180px 10px 10px 10px;
  }
  .wallet {
    margin: 180px 10px 0 10px;
  }
  .wallet__balance {
    font-size: 0.8rem;
  }
}


/* LightMode Theme
======================*/

.dark-mode {
  background-color: #E3E3E3;
}
.dark-mode h1 {
  color: #808080;
}
.dark-mode .header {
  background-color: #F6F6F6;
}
.dark-mode .header__tabs-item {
  color: #000002;
}
.dark-mode .header__tabs-item a {
  color: #808080;
}
.dark-mode .header__tabs-item.active a {
  color: #808080;
}
.dark-mode .header__tabs-item.active {
  background-color: #E3E3E3;
  border: 1px solid #cecece;
}
.dark-mode .burger__item {
  background-color: #808080;
}
.dark-mode .burger__item:before{
  background-color: #808080;
}
.dark-mode .burger__item:after {
  background-color: #808080;
}
.dark-mode .dep {
  background-color: #F6F6F6;
}
.dark-mode .dep__value {
  color: #000002;
}
.dark-mode .platform__title {
  color: #000002;
}
.dark-mode .platform__chain {
  color: #808080;
}
.dark-mode .vault {
  background-color: #F6F6F6;
}
.dark-mode .vault__amount__title {
  color: #000002;
}
.dark-mode .vault__amount__dollars {
  color: #000002;
}
.dark-mode .vault__amount__coins {
  color: #808080;
}
.dark-mode .vault__value {
  color: #000002;
}
.dark-mode .wallet__balance {
  background-color: #F6F6F6;
  color: #000002;
}
.dark-mode .wallet__balance th {
  border-bottom: 1px solid #babec5;
}
